{% extends 'base.html' %}
        {% load staticfiles %}
        {% block add_header_link_block %} <link href="{% static 'css/signin.css' %}" rel="stylesheet"> {% endblock %}
        {% block title_block %} Login {% endblock %}
        {% block body_block %}

            <div class="container">

      <form class="form-signin" role="form" method="post" action="{% url 'login_view' %}" >

          <h2 class="form-signin-heading">Please sign in</h2>
          {% if bad_login_or_password %}
            <div class="alert alert-danger" role="alert">Bad login or password!</div>
          {% endif %}
          <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

        {% endblock %}

